body {
    display: flexbox;
    margin: 0;
    text-align: center;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    flex-wrap: wrap;
}

.header {
    margin: 5rem;
}

.title {
    margin: 2rem;
}

.one-zero p {
    background-color: #FCBA81;
    position: relative;
}

.img {
    position: inherit;
    left: 50rem;
    padding-top: 0.2rem;
}


/*this section failed to work with what i was trying to achieve so I changed the styling and commented it out. I will return to it when my understanding of css improves*/


/*.img-btn-container {
    position: relative;
    width: 50%;
}

.img-btn-container .img {
    width: 100%;
    height: auto;
    box-shadow: #555;
}

.img-btn-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.img-btn-container .btn:hover {
    background-color: rgb(203, 157, 119);
}*/

.img-btn {
    background-color: #070708;
    border-radius: 100px;
}

.img-btn .img {
    border-radius: 100px;
}

.img-btn .img:hover {
    background-color: #070708;
    padding: 1px;
}

.img-btn .img:active {
    transform: scale(1.4);
    box-shadow: 1px 1px 5px;
}


/*.img-btn .img:focus {
    border: solid black;
}*/

.pword-view {
    position: relative;
    bottom: 80px;
    background-color: white;
    color: black;
    padding: 1rem;
}

.instruction {
    position: relative;
    top: 80px;
    background-color: white;
    color: black;
    padding: 1rem;
    z-index: 3;
}